<div style="background-image:url(<%= @office.photo.url %>); height: 50vh; width: 100%; background-size: cover;">
</div>


<div class="container">

  <div class="important-info">
    <div class="primiry-info">
      <div class="title">
        <h1><%= @office.name %></h1>
        <p><%= @office.address %></p>
      </div>
      <div class="host-info text-center">
        <%= cl_image_tag @office.user.photo, class: "img-circle", :width => 60, :height => 60 %>
        <p><%= @office.user.first_name %></p>
      </div>
    </div>

    <div class="secondary-info">
      <h4>DESCRIPTION:</h4>
      <p><%= @office.description %></p>
    </div>

    <div class="fixed">
      <div class="book">
        <ul class="list-inline">
          <li><p><span><strong><%= @office.capacity_max%></span></strong> seats available</p></li>
          <li><p><span><strong><%= @office.desks.first.price %>€</span></strong> per desk</p></li>
        </ul>
        <hr>

        <div class="book-form">
          <%= simple_form_for [@office, @booking] do |f| %>
            <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :number_of_desks, as: :fake, class: "input" %>
            <%= f.submit "Book a desk", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

 <%#= render 'shared/flatpickr' %>

  <div class="reviews">
    <hr>
    <p><strong>89 commentaires</strong>
      <% 5.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </p>
    <hr>
    <div class="comments">
      <% if @reviews.nil? %>
        <p>No reviews Yet</p>
      <% else %>
          <ul class="list-inline">
            <% @reviews.each do |review| %>
            <div class="comment">
                <li>
                  <div class="commenter-info">
                    <div class="commenter-avatar">
                      <%= cl_image_tag review.user.photo, class: "img-circle", :width => 60, :height => 60 %>
                    </div>
                    <div class="commenter-name">
                      <p><%= review.user.first_name %></p>
                      <div class="comment-date">
                        <p><%= review.created_at.strftime("%B") %> <%= review.created_at.year %></p>
                      </div>
                    </div>
                  </div>
                  <div class="comment-content">
                    <p><%= review.comment %></p>
                    <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  </div>
                </li>
                <hr>
              <% end %>
            </div>
          </ul>
      <% end %>
      <div class="form-comment">
        <%= simple_form_for [@office, @review] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating %>
          <%= f.submit "Add a review", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
></div>
