<div class="container">
  <div class="row"></div>
    <div class="row" style="margin-top: 100px; margin-left: 70px;">
      <div class="col-xs-6">
        <h2>Personnal information:</h2>
        <h2 style="margin-top: 35px; font-size: 30px"><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><b>Email:</b> <%= @user.email %> </p>
        <p><b>Phone number:</b> <%= @user.phone_number %> </p>
        <p><b>Description:</b> <%= @user.description %> </p>
      </div>
      <div class="col-xs-6">
        <%= cl_image_tag @user.photo, height: 300, width: 300, crop: :fill %>
      </div>
  </div>
</div>
